.dashboard-navbar {
    width: 20%; /* Adjust the width as needed */
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: #F5F5F5;
    color: black;
    padding: 20px;
    border-right: 2px solid #DAA520;
}

.dashboard-navbar .nav-link {
    color: black;
    margin-bottom: 1rem;
    text-align: left; /* align text to the left */
}

.dashboard-navbar .nav-link:hover {
    color: #DAA520; /* Goldish color on hover */
}

.dashboard-navbar .nav-link.active {
    border: 1px solid #DAA520; /* add a border around the active link */
    position: relative; /* needed for the pseudo-element */
}

.dashboard-navbar .nav-link.active::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: #DAA520; /* gold color */
}

.menu-button {
    color: black !important;
    border: 1px solid gray; /* Add a border around the container */
    padding: 10px; /* Add some padding to create a box effect */
    display: inline-block; /* Needed to apply padding and border */
}

.offcanvas .nav-link {
    color: black; /* Change the text color to black */
}