.filter-form {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bolder;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
    font-size: 0.8em;
}

.filter-form .form-group {
    margin-bottom: 5px;
}

.filter-form .form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ced4da;
    padding: 5px;
}

.filter-form .form-check {
    padding-left: 0;
}

.filter-form .form-check .form-check-label {
    padding-left: 1.25rem;
}

.filter-form .form-check .form-check-input {
    position: relative;
    margin-left: 0;
}

.dropdown-toggle {
    width: 120px !important;
    background-color: transparent !important;
    color: gray !important;
    border: 1px solid #f5f5f5 !important;
}

.form-check-input:checked {
    color: gold !important;
    background-color: gold !important;
    border: 0 !important;
}

.form-check-input:focus {
    border-color: goldenrod !important;
    box-shadow: 0 0 0 0.25rem rgba(253, 233, 13, 0.25) !important;
}
