@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
#root {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* main menu */
.main-menu {
  margin-top: 9%;
}

.main-menu-container {
  position: absolute;
  top: 40%;
  left: 30%;
}

.main-menu-image {
  width: auto;
  height: auto;
  margin-left: -30%;
  object-fit: cover;
  background: #1a1a1a;
  max-width: 99.3vw !important;
}

.main-menu-head {
  font-size: 180%;
  position: absolute;
  left: -8%;
  text-align: left;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.main-menu-subhead {
  margin-top: 8%;
  text-align: left;
  font-size: 350%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.main-menu-button {
  position: absolute;
  top: 200px; /* Adjust this value as needed */
  left: -21%; /* Adjust this value as needed */
  z-index: 1;
  color: #1a1a1a !important;
  background-color: white !important;
}