@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
#root {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f5f5f5 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-menu {
  margin-top: 50px;
}

.main-menu-container {
  position: absolute;
  top: 20%;
  left: 30%;
}

.main-menu-image {
  width: auto;
  height: auto;
  object-fit: cover;
  background: #1a1a1a;
  max-width: 100vw !important;
}

.main-menu-head {
  font-size: 180%;
  position: absolute;
  left: -8%;
  text-align: left;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  z-index: 1;
}

.main-menu-subhead {
  margin-top: 8%;
  text-align: left;
  font-size: 350%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  z-index: 1;
}

.main-menu-button {
  position: absolute;
  top: 200px;
  left: -21%;
  z-index: 1;
  color: #1a1a1a !important;
  background-color: #f5f5f5 !important;
  border: 0 !important;
}

.main-menu-button:hover {
  position: absolute;
  top: 200px;
  left: -21%;
  z-index: 1;
  color: #f5f5f5 !important;
  background-color: gold !important;
}

.form-control:focus {
  border-color: goldenrod !important;
  box-shadow: 0 0 0 0.25rem rgba(253, 233, 13, 0.25) !important;
}

/* /user styles */

.language-modal .modal-dialog {
  max-width: 300px;
}

.account-settings-btn {
  font-size: 20px !important;
  float: left !important;
  text-align: left !important;
  color: #3b3b3b !important;
  background-color: transparent !important;
  border: 0 !important;
  padding: 2vh !important;
  padding-right: 500px !important;
}

.add-location-btn {
  font-size: 20px !important;
  text-align: right !important;
  color: #3b3b3b !important;
  background-color: transparent !important;
  border: 0 !important;
  padding: 2vh 500px !important;
}

.account-settings-btn:hover,
.add-location-btn:hover {
  background-color: rgba(60, 64, 67, 0.09) !important;
}


/* /orders styles */
.item-images {
  display: flex;
  overflow-x: auto;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.order-card {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-status-placed {
  box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.2);
}

.order-status-preparing {
  box-shadow: 0 0 5px 5px rgba(173, 216, 230, 0.7);
}

.order-status-delivering {
  box-shadow: 0 0 5px 5px rgba(0, 128, 0, 0.2);
}

.order-status-delivered {
  box-shadow: 0 0 5px 5px rgba(255, 165, 0, 0.2);
}

.order-status-cancelled {
  box-shadow: 0 0 5px 5px rgba(255, 192, 203, 0.5);
}


/* cart styles */
.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* shopping cart */
/* In ShoppingCartPage.css */

.form-container {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}